
<!-- ProcessMessage -->

<div id="headerComments">
    <h1 class="titlegrayLG" id="statutCreateComment">
        {{.ProcessMessage}}
    </h1>
</div>

<!-- video cat -->
<div class="shadow-xl shadow-gray-400 border-4 border-red-400 bg-black rounded-xl w-max h-max px-0">
    <video id="cat" class="w-44 h-44 " src="/frontend/src/pics/Cat.mp4" controls></video>
</div>

<!-- My comments  -->


<div id="myCommentsWrapper" class="
flex flex-col
justify-start items-start
w-full h-44
rounded-lg
overflow-y-auto
space-y-2

">

    <div id="CommentsSideRightContainer" class=" border border-orange-100 flex flex-row  pl-3  space-x-2 rounded-full">

        <button  type="submit" id="myCommentSideRightButton" 
        class="
        hover:cursor-pointer
        hover:underline 
        p-2
        h-max
        titlegrayStart
        ">My Comments</button>
        <button id="ReadMyComment" class=" hover:cursor-pointer hover:bg-orange-100 rounded-xl focus:border  w-auto h-auto px-2 border-white "><img src="/frontend/src/pics/information-button.png" class="logosize"></button>
        <button id="editMyComment" class="  hover:cursor-pointer hover:bg-orange-100 rounded-xl focus:border  w-auto h-auto px-2 border-white "><img src="/frontend/src/pics/edit.png" class="logosize"></button>
        <button id="deleteMyComment" class="hover:cursor-pointer hover:bg-orange-100 rounded-xl rounded-r-full focus:border  w-auto h-auto px-2 border-white"><img src="/frontend/src/pics/trash.png" class="logosize"></button>
    
    </div>

    {{range .SpecificPost.Comments}}
    {{if eq $.User.Name .CreatedBy}}
    <div id="myCommentsContainer" class="
    rounded-xl
    flex flex-col
    space-y-1
    h-auto w-full
    ">
    
        <div id="myCommentsSubContainer" class="
        p-0.5
        bg-orange-200 bg-opacity-20 hover:bg-opacity-50
        hover:cursor-pointer
        flex flex-row items-center justify-center
        space-x-1
        h-auto w-full pl-1.5
        ">
            <div id="comment" class="
            shrink-0
            w-max h-max
            text-md
            tracking-wide
            font-yanice font-bold
            text-gray-800 
            ">{{.Body}}
            </div>

        </div>
    
    </div>
{{end}}
{{end}}


</div>

<!-- My likes            -->
<div id="myLikesWrapper" class="
flex flex-col
justify-start items-start
w-full h-44
rounded-lg
overflow-y-auto
space-y-2

">

    <div id="LikesSideRightContainer" class=" border border-orange-100 flex flex-row  pl-3  space-x-2 rounded-full">

        <button  type="submit" id="myLikesSideRightButton" 
        class="
        hover:cursor-pointer
        hover:underline 
        p-2
        h-max
        titlegrayStart
        ">My Likes</button>
        <button id="ReadMyLike" class=" hover:cursor-pointer hover:bg-orange-100 rounded-xl focus:border  w-auto h-auto px-2 border-white "><img src="/frontend/src/pics/information-button.png" class="logosize"></button>

    </div>



    <div id="myLikesContainer" class="
    rounded-xl
    flex flex-col
    space-y-1
    h-auto w-full
    ">
    
        <div id="myLikesSubContainer" class="
        p-0.5
        bg-orange-200 bg-opacity-20 hover:bg-opacity-50
        hover:cursor-pointer
        flex flex-row items-center justify-center
        space-x-1
        h-auto w-full pl-1.5
        ">
            <div id="like" class="
            shrink-0
            w-max h-max
            text-md
            tracking-wide
            font-yanice font-bold
            text-gray-800 
            ">This is my liked post
            </div>

            <div id="Like&DislikeContainer" class="
            flex flex-row 
            my-0
            justify-center
            items-center"> 
                <div name="likeBtnCommentDisplay" id="likeBtnCommentDisplay" class=
                "
                bg-opacity-80
                flex flex-row 
                items-center
                space-x-1
                w-max h-max
                p-1
                ">
                <p class="
                text-sm
                text-gray-900  
                font-yanice
                "
                >wip</p>

                <img id="likeImage" class="
                h-4
                w-4
                rounded-lg  
                "
                src="/frontend/src/pics/like.png" alt="CategoryLogo" />

                </div>

                <div name="dislikeBtnCommentDisplay" id="dislikeBtnCommentDisplay" class="
                flex flex-row 
                bg-opacity-80
                items-center
                space-x-1
                w-max h-max
                mt-0.5 p-1
                ">
                    <p class="
                    text-sm
                    text-gray-900  
                    font-yanice"
                    >wip</p>
                    <img id="dislikeImage" class="
                    h-4
                    w-4
                    rounded-lg 
                    scaleLike
                    "
                    src="/frontend/src/pics/dislike.png" alt="CategoryLogo" />

                </div>
            </div>
        </div>
    
    </div>




</div>

<!-- Old to New  -->
<div id="oldToNewButtonContainer" class="
flex flex-row
rounded-lg
border 
bg-white
shadow-sm  shadow-gray-500
w-auto
h-auto
group
px-2
items-center
">
    <div id="oldToNewButtonSubContainer" class="items-center flex flex-row group-hover:cursor-pointer">

    <button id="oldToNewButton" class="
        text-xl
    p-2
    "><img class="
    shrink-0 
    h-4 w-4
    " src="/frontend/src/pics/down-arrow.png" alt=" arrowup icon"></button>

    <h3 id="arrowDownTitle" class="group-hover:text-orange-600 font-yanice text-lg text-center text-gray-600">Old to New</h3>
    </div>
</div>

<!-- comment creation  -->
<form action="/CreationComment" method="post" class="
                            items-center justify-center 
                            shadow-sm
                            p-1 mb-0
                            flex flex-col
                            shadow-gray-500
                            rounded-lg
                            bg-orange-100 hover:bg-orange-200
                            w-max h-max">



                                <div id="commentInputContainer" class="
                                flex flex-row space-x-2
                                items-center justify-center 
                                w-full h-auto
                                ">
                                    <input type="hidden" id="postId" name="postId" value="{{.Id}}">


                                    <textarea name="bodyComment" id="bodyComment" class="bg-white rounded" cols="10" rows="1">React here !</textarea>

                                    <button type="submit" name="buttonCommentReadPost" value="" class="
                                
                                 
                                text-xl text-center text-gray-700
                                focus:ring-1 focus:outline-none focus:ring-gray-700
                                hover:text-orange-600
                                font-yanice
                                group
                                ">
                                
                                <img class="
                                    h-5
                                    w-5
                                    rounded-lg 
                                    orangefilter
                                    "
                                    src="/frontend/src/pics/paper-plane.png" alt="CommentariesSend" />
                                    </button>

                                </div>

                            </form>

<!-- access comments  -->
<div id="commentButtonContainer" class="
flex flex-row
justify-center items-center
w-max h-max 
focus:ring-1 focus:outline-none focus:ring-gray-700
shadow-gray-500 shadow-sm
bg-orange-300 text-white 
px-2 space-x-2 py-1
rounded-lg hover:bg-orange-400 

">
    <button type="submit" name="buttonComment" id="buttonComment" value="" class="
    ">
    <img class="
        h-5
        w-5
        "
        src="/frontend/src/pics/comment.png" alt="Commentaries" />
    </button>

    <h2 id="commentTitle" class="font-yanice text-gray-700 text-lg" >Comments</h2>


</div>

<!-- comment container  -->
<div id="CommentsPostContainer" class="
flex flex-col
items-center
bg-opacity-30 bg-white
justify-between
w-full p-2 rounded-t-xl
">
    
    <div id="commentsPost" class="hidden bg-black">
        You didnt comment this post
    </div>
    
</div>

<!-- button edit and delete post  -->
<button id="editMypost" class="  hover:cursor-pointer hover:bg-orange-100 rounded-xl focus:border  w-auto h-auto px-2 border-white "><img src="/frontend/src/pics/edit.png" class="logosize"></button>
<button id="deleteMyposts" class="hover:cursor-pointer hover:bg-orange-100 rounded-xl rounded-r-full focus:border  w-auto h-auto px-2 border-white"><img src="/frontend/src/pics/trash.png" class="logosize"></button>
